/*THE RECIPE PAGES' STYLE*/

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header {
    background-color: #f7e584;
    margin-top: 0;
    padding-top: 3px;
}

.site-name {
    font-family: cursive;
    font-size: 70px;
    color: #cc080b;
    margin-left: 20px;  
}
hr {
    color: #cc080b;
    font-weight: bold;
}

.recipe,
.image,
.recipe-name {
    position: relative;
    top: 60px;
    margin-left: 50px;

} 
.image {
    width: 20%;
    border: #cc080b 5px solid;
    border-radius: 10px;
}
.recipe-name {
   
    top:  20px;
    font-size: 35px;
    color: #cc080b;
}

h4 {
    font-size: 25px;
    margin-left: 40px;
    color: #cc080b;

}
.desc-container {
    position: relative;
    top: 150px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 1rem;
    margin-left: 100px;
    font-style: italic;

}
.ings-container {
    position: relative;
    top: 200px;
    font-size: 20px;
    list-style-type: none;
    line-height: 1.75em;
    margin-left: 50px;

}
ul li {
    list-style-type: none;
}
.procedure-container {
    font-size: 20px;
    position: absolute;
    left: 1000px;
    top: 500px;
    line-height: 3rem;
} 
ol {
    margin-left: 20px;
}
h3 {
    
    font-style: italic;
    font-size: 20px;
    position: relative;
    top: 300px;
    margin-left: 100px;
  
}   

 .pointer-link a {
    color: #cc080b;
    font-weight: bold;
    font-size: 25px;
    list-style-type: none;
    position: relative;
   top: 500px;
   width: 300px;
   margin-left: 400px;
}   



