body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    background-color: #f7e584;
    margin-top: 0;
    padding-top: 3px;
}
ul, 
li,
a{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    list-style-type: none;
    display: flex;
    margin-left: 50px;
}
h1{
    font-family: cursive;
    font-size: 70px;
    color: #cc080b;
    margin-left: 20px;  
}
hr {
    color: #cc080b;
    font-weight: bold;
}
a {
    position: relative;
    top: 350px;
    right: 350px;
}

ul {
    position: relative;
    top: 60px;
}
img {
    border: #cc080b 5px solid;
    border-radius: 10px;
    width: 300px;
    
}